input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    color: #666666;
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 20px;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
input[placeholder] {
  color: #666666;
}
input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    color: #666666;
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 20px;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
input[type=Date] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    color: #666666;
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 20px;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
            input[type=password] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #29ABE2;
                border-radius: 10px;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 3px 3px 3px 3px;
            }
textarea{
    color:#666666;
    font-size: 16px;
    height: 100px;
    width: 95%;
    border: 0px solid #29ABE2;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.inputcheckbox{
　　　　display: inline-block;
　　　　vertical-align: middle;
　　　　margin-bottom: 2px;
}
label{
　　　　display: inline-block;
　　　　vertical-align: middle;
　　　　margin-bottom: 2px;
}
table{
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #29ABE2;
    border-radius: 10px; 
    font-size: 16px;
    background-color: #F5F5F5;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 3px 3px 3px 3px;
    margin:auto;
    transform: translate(0%, 0%);
}

.styled-select {
    background: url(https://upload.cc/i1/2020/04/16/QPBntO.png) no-repeat 90% 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    margin:auto;
    position: relative;

}
.styled-select select {
    background: transparent;
    overflow: hidden;
    text-overflow:ellipsis;
    border: none;
    font-size: 16px;
    padding: 5px 0px 5px 20px;
    color: #666666;
    width: 115%;
}
.rounded {
    border-radius: 30px;
}

.create {
    -moz-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    -webkit-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FCFCFC));
    background:-moz-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-webkit-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-o-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-ms-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:linear-gradient(to bottom, #FFFFFF 5%, #FFFFFF 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0);
    background-color:#FFFFFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:0px solid #FFFFFF;
    display:inline-block;
    cursor:pointer;
    color:#999999;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:20px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #FFFFFF;
}
.create:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
    background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
    background-color:#378de5;
    color:#FFFFFF;
}
.create:active {
    position:relative;
    top:1px;
}
.hiddletable{
    width: 90%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 10px; 
    font-size: 16px;
    background-color: #F5F5F5;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 3px 3px 3px 3px;
    margin:auto;
    transform: translate(0%, 0%);
}
.viewtable{
    width: 90%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 10px; 
    font-size: 16px;
    background: #FFFFFF;
    background-color: #FFFFFF;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 3px 3px 3px 3px;
    margin:auto;
    transform: translate(0%, 0%);
}
.viewButton{
    -moz-box-shadow:inset 0px 0px 0px 0px #F5F5F5;
    -webkit-box-shadow:inset 0px 0px 0px 0px #F5F5F5;
    box-shadow:inset 0px 0px 0px 0px #F5F5F5;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F5F5F5), color-stop(1, #FCFCFC));
    background:-moz-linear-gradient(top, #F5F5F5 5%, #F5F5F5 100%);
    background:-webkit-linear-gradient(top, #F5F5F5 5%, #F5F5F5 100%);
    background:-o-linear-gradient(top, #F5F5F5 5%, #F5F5F5 100%);
    background:-ms-linear-gradient(top, #F5F5F5 5%, #F5F5F5 100%);
    background:linear-gradient(to bottom, #F5F5F5 5%, #F5F5F5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F5F5F5',GradientType=0);
    background-color:#F5F5F5;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:0px solid #F5F5F5;
    display:inline-block;
    cursor:pointer;
    color:#999999;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:20px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #F5F5F5;
}
.viewButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
    background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
    background-color:#378de5;
    color:#FFFFFF;
}
.viewButton:active {
    position:relative;
    top:1px;
}

#startDate {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    color: #666666;
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 20px;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#dueDate {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    color: #666666;
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 20px;
    margin: auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}