ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(202, 32, 32);
}
  
.active {
    background-color: #4CAF50;
}

.title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: rgb(24, 21, 21);
    line-height: 1.2;
    display: block;
    background-color: #57b846;
    padding-top: 50px;
    padding-bottom: 39px;
}

iframe { 
    position: absolute;    
    height: 100%; 
    width: 100%;
    border: none;
}