            header{
                position: relative;
                width: 100%;
                background: #FFFFFF;
                margin: 0;
                height: 220px;
                border: none;
                border-width: 0;
                margin: 0;
                padding: 10px 10px;
            }
            nav {
                position: relative;
                width: 100%;
                background: linear-gradient(to right, #29ABE2, #2E3192);
                margin: 0;
                text-align: center;
                height: 75px;
                border: none;
                border-width: 0;
                margin: 0;
            }
            input[type=text] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #29ABE2;
                border-radius: 10px;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 3px 3px 3px 3px;
            }
            input[type=password] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #29ABE2;
                border-radius: 10px;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 3px 3px 3px 3px;
            }
            input[type=email] {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid #29ABE2;
                border-radius: 10px;
                font-size: 16px;
                background-color: white;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 3px 3px 3px 3px;
            }
            table{
                width: 400px;
                box-sizing: border-box;
                border: 2px solid #29ABE2;
                border-radius: 10px; 
                font-size: 16px;
                background-color: #F5F5F5;
                background-position: 10px 10px; 
                background-repeat: no-repeat;
                padding: 3px 3px 3px 3px;
                margin:auto;
                transform: translate(0%, 0%);
            }
.login {
	-moz-box-shadow:inset 0px 1px 0px 0px #29aae2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #29aae2;
	box-shadow:inset 0px 1px 0px 0px #29aae2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #29aae2), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-o-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:linear-gradient(to bottom, #29aae2 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#29aae2', endColorstr='#378de5',GradientType=0);
	background-color:#29aae2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #29aae2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.login:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
	background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
	background-color:#378de5;
}
.login:active {
	position:relative;
	top:1px;
}

.changepassword{
	-moz-box-shadow:inset 0px 1px 0px 0px #29aae2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #29aae2;
	box-shadow:inset 0px 1px 0px 0px #29aae2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #29aae2), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-o-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #29aae2 5%, #378de5 100%);
	background:linear-gradient(to bottom, #29aae2 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#29aae2', endColorstr='#378de5',GradientType=0);
	background-color:#29aae2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #29aae2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.changepassword:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
	background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
	background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
	background-color:#378de5;
}
.changepassword:active {
	position:relative;
	top:1px;
}

.loginpagebutton{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#F5F5F5',GradientType=0);
    background-color:#F5F5F5;
    border-radius:10px;
    border:0px solid #F5F5F5;
    display:inline-block;
    cursor:pointer;
    color:#2E3192;
    font-family:Arial;
    font-size:15px;
    padding:0px 0px;
    text-decoration:none;
    text-shadow:0px 0px 0px #F5F5F5;
    width: 100%;
    height: 30px;
}
.loginpagebutton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
    background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
    background-color:#378de5;
    color:#FFFFFF;
}
.hiddletable{
    width: 400px;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 10px; 
    font-size: 16px;
    background-color: #F5F5F5;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 3px 3px 3px 3px;
    margin:auto;
    transform: translate(0%, 0%);
}