header{
    position: relative;
    width: 100%;
    background: #FFFFFF;
    height: 220px;
    border: none;
    border-width: 0;
    margin: 0;
    padding: 10px 10px;
}
nav {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #29ABE2, #2E3192);
    margin: 0;
    text-align: center;
    height: 75px;
    border: none;
    border-width: 0;
    margin: 0;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid #29ABE2;
    border-radius: 30px;
    font-size: 16px;
    background-image: url('css_img/btnSearch.png');
    background-color: white;
    background-position: 0px 0px; 
    background-repeat: no-repeat;
    padding: 5px 0px 5px 50px;
    margin:auto;
    transform: translate(20%, 30%);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #666666;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 90% 0;
   background-color: white;
   overflow: hidden;
   width: 300px;
   margin:auto;
   position: relative;
   transform: translate(20%, 30%);
}
.styled-select select {
   background: transparent;
   overflow: hidden;
       text-overflow:ellipsis;
   border: none;
   font-size: 16px;
   padding: 5px 0px 5px 20px;
   color: #666666;
    width: 350px;
}
.rounded {
   border-radius: 30px;
}

form{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px; 
    font-size: 16px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 3px 3px 3px 3px;
    margin:auto;
    transform: translate(0%, 15%);
}
.meunchoice {
    -moz-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    -webkit-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FCFCFC));
    background:-moz-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-webkit-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-o-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-ms-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:linear-gradient(to bottom, #FFFFFF 5%, #FFFFFF 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0);
    background-color:#FFFFFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:0px solid #FFFFFF;
    display:inline-block;
    cursor:pointer;
    color:#999999;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:0px 0px;
    text-decoration:none;
    text-shadow:0px 0px 0px #FFFFFF;
    width: 150px;
    height: 80px;
}
.meunchoice:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
    background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
    background-color:#378de5;
    color:#FFFFFF;
}
.meunchoice:active {
    position:relative;
    top:1px;
}
.headerchoice{
    -moz-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    -webkit-box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    box-shadow:inset 0px 0px 0px 0px #FFFFFF;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #FCFCFC));
    background:-moz-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-webkit-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-o-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:-ms-linear-gradient(top, #FFFFFF 5%, #FFFFFF 100%);
    background:linear-gradient(to bottom, #FFFFFF 5%, #FFFFFF 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0);
    background-color:#FFFFFF;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:0px solid #FFFFFF;
    display:inline-block;
    cursor:pointer;
    color:#2E3192;
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    padding:0px 0px;
    text-decoration:none;
    text-shadow:0px 0px 0px #FFFFFF;
    width: 100%;
    height: 80px;
}
.headerchoice:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #29aae2));
    background:-moz-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-webkit-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-o-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:-ms-linear-gradient(top, #378de5 5%, #29aae2 100%);
    background:linear-gradient(to bottom, #378de5 5%, #29aae2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#29aae2',GradientType=0);
    background-color:#378de5;
    color:#FFFFFF;
}
.headerchoice:active {
    position:relative;
    top:0px;
}